* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../public/HelveticaNeue.ttc');
}

body {
  font-family: HelveticaNeue;
}

.container {
  max-width: 1780px;
  margin:  0 auto;
}